{% extends 'base.html' %}

{% block content %}

<div class="banner">

    <div class="info">
        <h1>Welcome Basketball Fans!</h1>
        <p>This website contains all the information that a true basketball needs</p>
        <div>
            <button type="button" onclick="document.location='https://www.nba.com/'"><span></span>OFFICIAL PAGE</button>
            <button type="button" onclick="document.location='https://www.youtube.com/c/NBA'"><span></span>YOUTUBE</button>
        </div>
    </div>

</div>



{% endblock content %}