{% extends 'base.html' %}

{% block content %}

<div class="gallery">
    <div class="atlantic">
        <h5>ATLANTIC</h5>
        <div class="item">
            <a href="https://www.nba.com/team/1610612738/celtics">
                <img src="../static/images/Celtics.png" alt="Boston Celtics" width="30%">
            </a>
            <p>Boston Celtics</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612751/nets/">
                <img src="../static/images/Nets.jpg" alt="Brooklyn Nets" width="30%">
            </a>
            <p>Brooklyn Nets</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612752/knicks/">
                <img src="../static/images/Knicks.png" alt="New York Knicks" width="30%">
            </a>
            <p>New York Knicks</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612755/sixers/">
                <img src="../static/images/76ers.jpg" alt="Philadelphia 76ers" width="30%">
            </a>
            <p>Philadelphia 76ers</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612761/raptors/">
                <img src="../static/images/Raptors.jpg" alt="Toronto Raptors" width="30%">
            </a>
            <p>Toronto Raptors</p>
        </div>
    </div>
    <div class="atlantic">
        <h5>CENTRAL</h5>
        <div class="item">
            <a href="https://www.nba.com/team/1610612741/bulls/">
                <img src="../static/images/Bulls.jpg" alt="Bulls" width="30%">
            </a>
            <p>Chicago Bulls</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612739/cavaliers/">
                <img src="../static/images/CAVS.png" alt="Cavaliers" width="40%">
            </a>
            <p>Cleveland Cavaliers</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612765/pistons/">
                <img src="../static/images/Pistons.jpg" alt="Pistons" width="40%">
            </a>
            <p>Detroit Pistons</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612754/pacers/">
                <img src="../static/images/Pacers.jpg" alt="pacers" width="30%">
            </a>
            <p>Indiana Pacers</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612749/bucks/">
                <img src="../static/images/BUCKS.jpg" alt="Bucks" width="40%">
            </a>
            <p>Milwaukee Bucks</p>
        </div>
    </div>
    <div class="atlantic">
        <h5>SOUTHEAST</h5>
        <div class="item">
            <a href="https://www.nba.com/team/1610612737/hawks/">
                <img src="../static/images/HAWKS.png" alt="Hawks" width="30%">
            </a>
            <p>Atlanta Hawks</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612766/hornets/">
                <img src="../static/images/Hornets.png" alt="Hornets" width="30%">
            </a>
            <p>Charlotte Hornets</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612748/heat/">
                <img src="../static/images/Heat.png" alt="Heat" width="40%">
            </a>
            <p>Miami Heat</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612753/magic/">
                <img src="../static/images/MAGIC.png" alt="Magic" width="30%">
            </a>
            <p>Orlando Magic</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612764/wizards/">
                <img src="../static/images/Wizards.png" alt="Wizards" width="40%">
            </a>
            <p>Washington Wizards</p>
        </div>
    </div>
    <div class="atlantic">
        <h5>NORTHWEST</h5>
        <div class="item">
            <a href="https://www.nba.com/team/1610612743/nuggets/">
                <img src="../static/images/Nuggets.png" alt="Nuggets" width="50%">
            </a>
            <p>Denver Nuggets</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612750/timberwolves/">
                <img src="../static/images/Wolves.jpg" alt="Timberwolves" width="40%">
            </a>
            <p>Minnesota Timberwolves</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612760/thunder/">
                <img src="../static/images/Thunder.jpg" alt="Thunder" width="40%">
            </a>
            <p>Oklahoma City Thunder</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612757/blazers/">
                <img src="../static/images/Blazers.jpg" alt="Blazers" width="40%">
            </a>
            <p>Portland Trail Blazers</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612762/jazz/">
                <img src="../static/images/Jazz.png" alt="Jazz" width="40%">
            </a>
            <p>Utah Jazz</p>
        </div>
    </div>
    <div class="atlantic">
        <h5>PACIFIC</h5>
        <div class="item">
            <a href="https://www.nba.com/team/1610612744/warriors/">
                <img src="../static/images/Warriors.jpg" alt="Warriors" width="40%">
            </a>
            <p>Golden State Warriors</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612746/clippers/">
                <img src="../static/images/Clippers.png" alt="Clippers" width="40%">
            </a>
            <p>LA Clippers</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612747/lakers/">
                <img src="../static/images/lakers.jpg" alt="New York Knicks" width="40%">
            </a>
            <p>Los Angeles Lakers</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612756/suns/">
                <img src="../static/images/Suns.jpg" alt="Suns" width="50%">
            </a>
            <p>Phoenix Suns</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612758/kings/">
                <img src="../static/images/Kings.png" alt="Kings" width="40%">
            </a>
            <p>Sacramento Kings</p>
        </div>
    </div>
    <div class="atlantic">
        <h5>SOUTHWEST</h5>
        <div class="item">
            <a href="https://www.nba.com/team/1610612742/mavericks/">
                <img src="../static/images/Mavericks.png" alt="Mavericks" width="50%">
            </a>
            <p>Dallas Mavericks</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612745/rockets/">
                <img src="../static/images/houston.png" alt="Rockets" width="40%">
            </a>
            <p>Houston Rockets</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612763/grizzlies/">
                <img src="../static/images/grizzlies.png" alt="Grizzlies" width="50%">
            </a>
            <p>Memphis Grizzlies</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612740/pelicans/">
                <img src="../static/images/Pelicans.png" alt="Pelicans" width="40%">
            </a>
            <p>New Orleans Pelicans</p>
        </div>
        <div class="item">
            <a href="https://www.nba.com/team/1610612759/spurs/">
                <img src="../static/images/Spurs.png" alt="Spurs" width="40%">
            </a>
            <p>San Antonio Spurs</p>
        </div>
    </div>
</div>

{% endblock content %}