{% extends 'base.html' %}

{% block content %}

<div class="row"><h3>Update Your Player</h3>
    <div class="col-md-4 offset-md-4">
        <div class="card card-body">
            <form action="/update/{{player.id}}" method="POST">
                <div class="form-group">
                    <input type="text" name="name" value="{{player.name}}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="team" value="{{player.team}}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="position" value="{{player.position}}" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}